.row {
    display: flex;
    justify-content: space-between;
}

.row > div {
    flex: 1 1 auto;
    margin: 30px;  /* and that, will result in a 10px gap */
}

.img-div {
    width: 70%;
}

.txt-div {
    width: 100%;
}

.abt_ht_mb {
    display: none;
}

.image-silas {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.abt-details {
    margin-top: 40px;
}

.tablist {
    display: flex;
    justify-content: space-between;
}

.abt-details .tab-item {
    color: #fff;
    display: flex;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 3px solid #fff;
}

/* .abt-details .tab-item:hover {
    color: #ef2d56;
    border-bottom: 3px solid #ef2d56;
} */

.focus {
    color: #ef2d56 !important;
    border-bottom: 3px solid #ef2d56 !important;
}

.skills-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.experience-tab {
    margin-top: 20px;
}

.bold-text {
    font-weight: 800;
}

@media (max-width: 700px) {
    .row {
        display: block;
    }

    .row > div {
        flex: 1 1 auto;
        margin: auto; 
    }

    .abt_ht_mb {
        display: block;
        margin-bottom: 20px;
        border-bottom: 3px solid #ef2d56;
    }

    .abt_ht {
        display: none;
    }

    .description {
        margin-top: 30px;
    }

    .img-div {
        width: 100%;
        margin: 0 auto;
    }
}