.page_container {
    width: 95%;
    position: relative;
    top: 50%; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 6.0em 2em;
    box-shadow: var(--dark-shadow);
    background-color: #000; 
    overflow: hidden;
    perspective: 1000px;  
}

/* .main-c {
    padding: 100px;
} */

.text-left {
    align-items: center;
}

.txt-1 {
    color: var(--clr-grey-8);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 1rem;
    line-height: var(--spacing01);
}

.alt-txt {
    color: #ef2d56;
    font-size: 70px;
    font-weight: 900;
    margin: 20px auto;
    line-height: 75px;
}

.txt-2 {
    color: var(--clr-white);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 58px;
    line-height: 75px;
}

@media (max-width: 800px) {
    .page_container {
        padding: 7.0em 1em;
    }
    .main-c {
        padding: 80px 20px 80px 20px;
    }

    .txt-1 {
        font-size: 0.8rem;
    }

    .alt-txt {
        font-size: 40px;
        line-height: 45px;
    }

    .txt-2 {
        font-size: 25px;
        line-height: 45px;
    }

}