/*
=============== 
Variables
===============
*/
:root {
  --hero-bg-1: #101010;
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-white: #fff;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--hero-bg-1);
  color: var(--clr-white);
  overflow-x: hidden;
}

.main {
  position: relative;
  min-height: 100vh;
  background: var(--hero-bg-1);
}

.body {
  position: relative;
  perspective: 1200px;
  overflow: hidden;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
  line-height: 1.4074;
  color: #fff;
}

p {
  font-size: 1rem;
  color: rgba(198, 201, 216, 0.75);
  line-height: 30px;
}

a {
  text-decoration: none;
}

.page_container {
  overflow: hidden;
  transform-style: preserve-3d;
  min-height: 100vh;
}

.project_card, .service-item {
  transform-style: preserve-3d;
}

.icon, .p_image {
  transition: all 0.3s ease;
}

.page-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(239, 45, 86, 0.2), transparent);
  z-index: -1;
}

@media (max-width: 648px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
}